<div class="row" style="margin-top: 80px">
    <div class="col-md-10" id="news">
        <h3 class="text-center" style="font-weight: bold">Vereinssatzung Hundeschule Pfotenwohl e.V.</h3>
        <h4 class="text-center" style="font-weight: bold">im folgenden finden Sie die aktuelle Satzung:</h4>
        <br>
        <p class="title text-center" style="font-weight: bold">§1 Name</p>
        <p>
            <ol type="1">
                <li>Der Verein führt den Namen „Hundeschule Pfotenwohl“</li>
                <li>Er soll in das Vereinsregister eingetragen werden und führt danach den Zusatz „e.V.“.</li>
                <li>Er ist politisch und konfessionell unabhängig und neutral.</li>
                <li>Der Sitz des Vereins ist 96047 Bamberg</li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§2 Zweck</p>
        <p>
            <ol type="1">
                <li>
                    Zweck des Vereins ist die Ausbildung und das Training von Hunden unter Beachtung der Tierschutz-rechtlichen Regeln und gesetzlichen 
                    Bestimmungen.
                </li>
                <li>
                    Der Satzungszweck wird insbesondere verwirklicht durch die Teilnahme an und die Veranstaltung von öffentlichen Hundetrainingsveranstaltungen. 
                    Des weiteren durch die Unterstützung aller Bestrebungen die den Hundetrainings für Kinder/Jugendliche und Erwachsene dienen, wie u.a. die 
                    Hundeausbildung, die Information der Öffentlichkeit über Hundeausbildung allgemein und artgerechte Hundehaltung durch entsprechende 
                    Veranstaltungen.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§3 Gemeinnützigkeit</p>
        <p>
            <ol type="1">
                <li>
                    Der Verein verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des Abschnitts „Steuerbegünstigte Zwecke“ der Abgabenordnung.
                </li>
                <li>
                    Der Verein ist selbstlos tätig; er verfolgt nicht in erster Linie eigen wirtschaftliche Zwecke.
                </li>
                <li>
                    Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke verwendet werden.
                </li>
                <li>
                    Die Mitglieder erhalten keine Zuwendung aus Mitteln des Vereins. Es darf keine Person durch Ausgaben, 
                    die dem Zweck des Vereins fremd sind oder durch unverhältnismäßig hohe Vergütung begünstigt werden.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§4 Mitgliedschaft</p>
        <p>
            <ol type="1">
                <li>
                    Mitglied kann jede unbescholtene Person werden, das Mindestalter kann die Mitgliederversammlung regeln.
                </li>
                <li>
                    Minderjährige bedürfen der Zustimmung der gesetzlichen Vertreter.
                </li>
                <li>
                    Über den schriftlichen Aufnahmeantrag entscheidet der Vorstand. Eine Ablehnung wird nicht begründet.
                </li>
                <li>
                    Alle Mitglieder sind gleichgestellt.
                </li>
                <li>
                    Die ersten sechs Monate der Mitgliedschaft sind auf Probe. Über die endgültige Aufnahme entscheidet der Vorstand.
                </li>
                <li>
                    Jedes aktive Mitglied verpflichtet sich zur Ableistung von Arbeitsstunden zugunsten des Vereins. 
                    Nicht erbrachte Arbeitsstunden werden vom Mitglied finanziell abgegolten.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§5 Beitragsordnung</p>
        <p>
            <ol type="1">
                <li>
                    Der Vorstand setzt die Höhe und Fälligkeiten aller Gebühren und Beiträge 
                    (Probegebühr, Aufnahmegebühr, Jahresbeitrag und Trainingsbeitrag) in der Beitragsordnung fest.
                </li>
                <li>
                    In der Beitragsordnung wird zusätzlich die Anzahl an zu erbringenden Arbeitsstunden sowie die Höhe der 
                    Abgeltung nicht erbrachter Arbeitsstunden festgelegt.
                </li>
                <li>
                    Alle anfallenden Gebühren und Beiträge werden per Bankeinzug vom Kassierer des Vereins eingezogen.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§6 Austritt und Ausschluss</p>
        <p>
            <ol type="1">
                <li>
                    Der Austritt aus dem Verein ist nur zum Jahresende mit einer 3-monatigen Kündigungsfrist möglich. 
                    Er erfolgt durch schriftliche Erklärung gegenüber dem Vorsitzenden.
                </li>
                <li>
                    Ein Mitglied kann aus dem Verein ausgeschlossen werden, wenn es das Ansehen des Vereins in grober Weise schädigt, 
                    gegen die Interessen des Vereins handelt oder wegen Verstöße gegen das Tierschutzgesetz bestraft worden ist. 
                    Über den Ausschluss entscheidet die Mitgliederversammlung.
                </li>
                <li>
                    Der Vorstand kann über einen Ausschluss entscheiden, wenn ein Mitglied nach einmaliger Mahnung bis zum 01.03. 
                    des Jahres seiner Beitragspflicht nicht nachkommt.
                </li>
                <li>
                    Während der Probezeit kann die Mitgliedschaft seitens des Mitglieds oder der Vorstandschaft jederzeit gekündigt werden. 
                    Im Falle einer Kündigung seitens des Vorstands erhält das Mitglied die Probegebühr anteilig zurück.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§7 Vorstand</p>
        <p>
            <ol type="1">
                <li>
                    Der Vorstand des Vereins besteht aus dem 1. Vorsitzenden, dem 2. Vorsitzenden, dem Kassierer, dem Schriftführer sowie dem Ausbildungswart.
                </li>
                <li>
                    Der Vorstand im Sinne des §26 BGB besteht aus dem 1. Vorsitzenden und dem 2. Vorsitzenden. Jeder von ihnen vertritt den Verein einzeln.
                </li>
                <li>
                    Der Vorstand wird von der Mitgliederversammlung auf die Dauer von drei Jahren gewählt; 
                    er bleibt jedoch so lange im Amt bis eine ordnungsgemäße Neuwahl erfolgt ist.
                </li>
                <li>
                    Je 35 Mitglieder kann der Vorstand um einen Beisitzer erweitert werden. Die Entscheidung hierüber fällt die Vorstandschaft.
                </li>
                <li>
                    Alle Vorstandsmitglieder sind von der Verpflichtung zur Ableistung von Arbeitsstunden ausgeschlossen.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§8 Mitgliederversammlung</p>
        <p>
            <ol type="1">
                <li>
                    Die Mitgliederversammlung findet jährlich im ersten Quartal des Jahres statt. 
                    Eine außerordentliche Mitgliederversammlung ist auf Wunsch des Vorstandes oder auf Wunsch eines Viertels der 
                    Mitglieder unter Angabe der Gründe einzuberufen.
                </li>
                <li>
                    Zu jeder Mitgliederversammlung hat der Vorstand mindestens 2 Wochen vorher unter Bekanntgabe der Tagesordnung einzuladen.
                </li>
                <li>
                    Nur aktive Mitglieder über 18 Jahre besitzen aktives und passives Wahlrecht.
                </li>
                <li>
                    Jede ordnungsgemäß einberufene Mitgliederversammlung ist ohne Rücksicht auf die Zahl der erschienenen Mitglieder beschlussfähig.
                </li>
                <li>
                    Die Beschlüsse der Mitgliederversammlung werden mit einfacher Mehrheit der abgegebenen gültigen Stimmen gefasst.
                </li>
                <li>
                    Über die Beschlüsse der Mitgliederversammlung ist ein Protokoll aufzunehmen, das vom Versammlungsleiter und dem Schriftführer zu 
                    unterschreiben ist.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§9 Satzungsänderungen</p>
        <p>
            <ol type="1">
                <li>
                    Nach Ankündigung in der Tagesordnung kann die Satzung durch die Mitgliederversammlung bei einer Mehrheit 
                    von 2/3 der Anwesenden geändert werden.
                </li>
                <li>
                    Zur Änderung des Vereinszweckes ist eine Mehrheit von 3/4 der Anwesenden erforderlich.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§10 Satzungsgebot</p>
        <p>
            <ol type="1">
                <li>
                    Der Verein hat sich eine Satzung zu geben, die nicht im Widerspruch zur DVG – Satzung stehen darf.
                </li>
                <li>
                    Bestehende Satzungen sind spätestens innerhalb von 2 Jahren nach Änderung der DVG-Satzung dieser 
                    anzugleichen und der DVG-Hauptgeschäftsstelle einzureichen.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§11 Kassenprüfer</p>
        <p>
            <ol type="1">
                <li>
                    Zur Überwachung der satzungsgemäßen Führung der Einnahmen und Ausgaben bestellt die Mitgliederversammlung zwei Kassenprüfer, 
                    die jeweils für die Dauer von drei Jahren amtieren.
                </li>
                <li>
                    Die Mitglieder dürfen nicht dem Vorstand angehören und dürfen nicht unmittelbar wiedergewählt werden.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§12 Kommunikation, Datenschutz</p>
        <p>
            <ol type="1">
                <li>
                    Jegliche Kommunikation – einschließlich Einladungen zur Mitgliederversammlung erfolgt in schriftlicher Form auf dem Postwege.
                </li>
                <li>
                    Die Mitglieder willigen der Weitergabe persönlicher Daten an den Verband, zur Verwendung für die Erfordernisse des Sports 
                    sowie für die Eigenwerbung des Vereins ausdrücklich ein.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">Datenschutz im Verein</p>
        <p>
            <ol type="A">
                <li>
                    Zur Erfüllung der Zwecke und Aufgaben des Vereins werden unter Beachtung der Vorgaben der EU Datenschutz Grundverordnung (DSGVO) und des
                    Bundesdatenschutzgesetzes (BDSG) personenbezogene Daten über persönliche und sachliche Verhältnisse der Mitglieder im Verein verarbeitet.
                </li>
                <li>
                    Soweit die in den jeweiligen Vorschriften beschriebenen Voraussetzungen vorliegen, hat jedes Vereinsmitglied insbesondere die folgenden Rechte:
                    <br>
                        das Recht auf Auskunft nach Artikel 15 DSGVO <br>
                        das Recht auf Berichtigung nach Artikel 16 DSGVO <br>
                        das Recht auf Löschung nach Artikel 17 DSGVO <br>
                        das Recht auf Einschränkung der Verarbeitung nach Artikel 18 DSGVO <br>
                        das Recht auf Datenübertragbarkeit nach Artikel 20 DSGVO <br>
                        und das Widerspruchsrecht nach Artikel 21 DSGVO. <br>
                </li>
                <li>
                    Den Organen des Vereins, allen Mitarbeitern oder sonst für den Verein Tätigen ist es untersagt, personenbezogene Daten unbefugt zu anderen 
                    als dem jeweiligen Aufgabenerfüllung gehörenden Zweck zu verarbeiten, bekannt zu geben, Dritten zugänglich zu machen 
                    oder sonst zu nutzen. Diese Pflicht besteht auch über das Ausscheiden der oben genannten Personen aus dem Verein hinaus.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§13 Mitgliedschaft des Vereins im Deutschen Verband der Gebrauchshundesportvereine</p>
        <p>
            <ol type="1">
                <li>
                    Der Verein wird Mitglied im Deutschen Verband der Gebrauchshundesportvereine e.V.
                </li>
            </ol>
        </p>
        <br>
        <p class="title text-center" style="font-weight: bold">§14 Vereinsauflösung</p>
        <p>
            <ol type="1">
                <li>
                    Die Auflösung des Vereins kann nur von einer Mitgliederversammlung mit 3/4 Stimmenmehrheit beschlossen werden.
                </li>
                <li>
                    Bei Auflösung des Vereins oder bei Wegfall steuerbegünstigter Zwecke, fällt das Vermögen an eine juristische Person des öffentlichen Rechts 
                    oder an eine andere steuerbegünstigte Körperschaft zwecks Verwendung für Hundesport.
                </li>
            </ol>
        </p>
        <br>
        <h4 class="text-center" style="font-weight: bold">Ende der Satzung</h4>
        <h5 class="text-center mb-5">
            Hundeschule Pfotenwohl e.V. ist keine gewerbliche Hundeschule. 
            Vielmehr sind wir ein gemeinnütziger Hundeausbildungsverein in dem jeder Hundehalter seinen Hund trainieren kann.
        </h5>
    </div>
</div>