
<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Kontaktieren Sie uns!</h2>
        <p>
            Gerne geben wir Ihnen weitere Auskünfte über unseren Verein und wie Sie profitieren können. <br>
            Neugierieg geworden? Dann schreiben Sie uns noch heute eine Mail.                
        </p>
    </div>
</div>
<div class="row" id="contact">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <form class="contact">
            <div class="row">
                <div class="col-md-6 mt-2">
                    <input type="text" class="form-control" placeholder="Vorname">
                </div>
                <div class="col-md-6 mt-2">
                    <input type="text" class="form-control" placeholder="Nachname">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-2">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-md-6 mt-2">
                    <input type="text" class="form-control" placeholder="Betreff">
                </div>
            </div>
            <textarea class="form-control mt-3" placeholder="Ihre Nachricht für Uns..." rows="10"></textarea>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto mt-2">
                    <button class="btn btn-primary btn-block btn-round">Abschicken</button>
                </div>
            </div>
        </form>
        <h3 class="visit">
            <small>Oder besuchen Sie uns und erfahren Sie alles aus erster Hand.</small>
        </h3>

        <div class="row mb-5">
            
        </div>
    </div>
</div>