<div class="container">
    <div class="row">
        <nav class="footer-nav text_color_black">
            <ul>
                <li>
                    <a href="/">Hundeschule Pfotenwohl e.V.</a>
                </li>
                <!--
                <li>
                    <a href="/version" target="_blank">Version {{data.Version}}</a>
                </li>
                -->
                <li>
                    <a href="/imprint">Impressum</a>
                </li>
            </ul>
        </nav>
        <div class="credits ml-auto">
            <span class="copyright text_color_black">
                © 2018 -
                <script>
                    document.write(new Date().getFullYear())
                </script>, made by 
                <a href="https://www.envor-it.de" target="_blank">Envor IT Solutions </a>
                - CDO: Christopher Hübner
            </span>
        </div>
    </div>
</div>