
<div class="my-gallery ml-auto mr-auto" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">
    <div class="row">
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1480701052301-e48ba86a6a40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1480701052301-e48ba86a6a40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Kuscheln mit Hund</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1559020741-20e38eab908f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1559020741-20e38eab908f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Ausdauertraining am Strand</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1531882312557-c2ddcee0d4ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1531882312557-c2ddcee0d4ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Spielbereit und du?</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1518056914555-de1d7f0b3967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1518056914555-de1d7f0b3967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Genieß die Aussicht</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1484190929067-65e7edd5a22f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1484190929067-65e7edd5a22f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Gib Pfötchen</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1557818471-1eee0188a9e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1557818471-1eee0188a9e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Packetboten sind unsere Freunde</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1559184120-8c02a586ae3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1559184120-8c02a586ae3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Strandtag</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1560160922-6019c26a2523?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1560160922-6019c26a2523?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Ich liebe Frisby Spiele</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1548947597-14306776c717?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1548947597-14306776c717?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Rumtollen mit Freunden</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://images.unsplash.com/photo-1551135603-e0a6e232b50c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" itemprop="contentUrl" data-size="750x1002">
                <img src="https://images.unsplash.com/photo-1551135603-e0a6e232b50c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">In der Bibliothek</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://hundeschule-kosten.de/wp-content/uploads/2017/05/trainingsgeraete-fuer-hunde.png" itemprop="contentUrl" data-size="750x1002">
                <img src="https://hundeschule-kosten.de/wp-content/uploads/2017/05/trainingsgeraete-fuer-hunde.png" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Beim Training in Aktion</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
            <a href="https://www.hundeschule-wetterau.com/wp-content/uploads/Hundetraining-Zubeh%C3%B6r.jpg" itemprop="contentUrl" data-size="750x1002">
                <img src="https://www.hundeschule-wetterau.com/wp-content/uploads/Hundetraining-Zubeh%C3%B6r.jpg" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive">
            </a>
            <figcaption itemprop="caption description" class="gallery-caption">Ausgepowert</figcaption>
        </figure>
    </div>
</div>