<div class="row">
    <div class="col-md 12">
        <ul type="none">
            <li>
                Verein <br>
                Hundeschule Pfotenwohl e.V. <br>
                Dieselweg 33 <br>
                96047 Bamberg <br>
                FON +49(6027)803-0649 <br>
                info@pp_dm.envor-it.de <br>
                www.pp_dm.envor-it.de<br><br>
            </li>
            <li>
                Redaktion der Vereinszeitung<br>
                Horst Lenker <br>
                Hornstraße 55 <br>
                96047 Bamberg <br>
                FON: +49(6091)375-8164 <br>
                h.lenker_55@web.de<br><br>
            </li>
            <li>
                Fotos<br>
                Horst Lenker, Diana Ammer, Kim Becker-Salweski, Wilhelm Danker<br><br>
            </li>
            <li>
                Die Vereinszeitung Hundefüher erscheint 4 mal jährlich in einer Auflage von 500 Exemplaren. 
                Nachdruck oder sonstige Reproduktionen sind nur nach vorheriger Abstimmung mit dem Herausgeber gestattet.<br><br>
            </li>
            <li>
                Druck <br>
                Druckerei & Verlag K. Urlaub GmbH, Bamberg<br><br>
            </li>
            <li>
                Ansprechpartner des Vereins <br>
                1. Vorsitzender und Mitgliederbetreuung <br>
                Dennis Regow <br>
                Scheidemann Str. 31 <br>
                90402 Nürnberg <br>
                FON: +49(8494)824-9257 <br>
                d.regow@hbabs.de<br><br>
            </li>
            <li>
                2. Vorsitzender <br>
                Thomas Stroll <br>
                FON +49(9672)405-1394<br><br>
            </li>
            <li>
                Kassenwartin <br>
                Kristina Kohlmann <br>
                FON: +49(9572)224-8995<br><br>
            </li>
            <li>
                Hundtrainer <br>
                Hans Dieter Betrow + Christiane Betrow <br>
                FON: +49(7779)319-3954<br><br>
            </li>
            <li>
                Jugendwart <br>
                Nicole Brosch <br>
                FON: +49(9863)528-4331<br><br>
            </li>
            <li>
                Jugendwart <br>
                Kim Becker-Salewski <br>
                FON: +49(6045)763-2387<br><br>
            </li>
            <li>
                Spendenkonto <br>
                IBAN: DE80109018013017782761<br>
                BIC: NTSB1XXX<br>
                Bank Number26 GmbH Berlin<br><br>
            </li>
        </ul>
    </div>
</div>











