<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Hundeschule Pfotenwohl e.V.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/#service" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dienste
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a href="/#dog_training" class="dropdown-item">
                            Hundetraining
                        </a>
                        <a href="/#human_dog" class="dropdown-item">
                            Hunde - Menschbeziehung
                        </a>
                        <a href="/#dog_food" class="dropdown-item">
                            Hundefutter - die richtige Wahl für Ihr Tier
                        </a>
                        <a href="/#playtime" class="dropdown-item">
                            Gemeinsame Spielzeit
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Neuigkeiten & Satzung
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a href="/association" class="dropdown-item">
                            Vereinssatzung (Stand: 20.06.2019)
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/gallery" class="nav-link">
                        Gallerie
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/pension" class="nav-link">
                        Hundepension
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/#contact" class="nav-link">
                        Kontakt
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">
    NodeList.prototype[Symbol.iterator] = Array.prototype[Symbol.iterator];
    HTMLCollection.prototype[Symbol.iterator] = Array.prototype[Symbol.iterator];

    function GetIEVersion() {
        return window.navigator.userAgent.match(/(MSIE|Trident)/);
    }

    // Navigation Hover Effect
    let NaviHoverLink = {
        init: function () {
            if (GetIEVersion()) {
                console.log("Your Browser not full supported, please use Edge, Firefox or Chrome or any other actual Browser \n but please stop using the Internet Explorer. Thank you!");

            } else {
                NaviHoverLink.hovering();
                console.log("Browser supported!");
            }
        },
        hovering: function () {
            let naviLink = document.getElementsByClassName("nav-item dropdown");

            for (let link of naviLink) {
                link.addEventListener('mouseover', function () {
                    this.classList.add('show');
                });
                link.addEventListener('mouseleave', function () {
                    this.classList.remove('show');
                });
            }
        }
    };
    NaviHoverLink.init();
</script>