<div class="row ml-auto mr-auto text-center" style="margin-top: 80px;">
    <div class="col-md-12">
        <h2 class="info-title  mr-auto ml-auto">Wir bieten unseren Mitgliedern auch eine Hundepension an</h2><br>
        <p>
            Sollten Sie mal ohne Ihren Vierbeiner Urlaub machen wollen, bieten wir Ihnen, sofern Sie Mitglied
            bei uns sind, auch eine Hundepension an. Dies wäre in unserem Vereinsheim gegen eine kleine Aufwandsentschädigung möglich.
            <br>
            Wir sorgen dann, solange Sie weg sind, für Ihr Tier und wissen bestens, was es braucht, wenn es um Futter, Spielen oder Streicheleinheiten geht.
            Und auch das Training wird dann in der Zeit fortgeführt, sodass Ihr Hund topfit ist, wenn Sie aus dem Urlaub zurückkommen.
        </p>
        <div class="card card-blog card-plain text-center mt-5">
            <div class="card-image">
                <img class="img img-raised" src="https://i.ytimg.com/vi/8N1WvMqrZes/maxresdefault.jpg">
            </div>
            <div class="card-body">
                <h3 class="card-title">Unsere kleine Pension für Ihr Tier</h3>
            </div>
        </div>
    </div>
</div>

