<div class="row ml-auto mr-auto text-center" style="margin-top: 80px;">
    <div class="col-md-12">
        <h2 class="info-title  mr-auto ml-auto">Wir bieten unseren Mitgliedern auch eine Hundepension an</h2><br>
        <p>
            Sollten Sie über mal ohne Ihren Vierbeiner Urlaub machen wollen bieten wir Ihnen sofern Sie Mitglied
            bei uns sind auch eine Hundepension bei uns im Vereinsheim an gegen eine kleine Aufwandsentschädigung.
            <br>
            Wir sorgen dann solange Sie weg sind für Ihr Tier und Wissen bestens was es braucht wenn es um Futter, Spielen oder Streicheleinheiten geht.
            Und auch das Training wird dann in der Zeit fortgeführt so das Ihr Hund Top-Fit ist wenn Sie aus dem Urlaub zurückkommen.
        </p>
        <div class="card card-blog card-plain text-center mt-5">
            <div class="card-image">
                <img class="img img-raised" src="https://i.ytimg.com/vi/8N1WvMqrZes/maxresdefault.jpg">
            </div>
            <div class="card-body">
                <h3 class="card-title">Unsere kleine Pension für Ihr Tier</h3>
            </div>
        </div>
    </div>
</div>

