<div class="row" id="service">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="row text-center" id="dog_training">
            <h2 class="info-title mr-auto ml-auto">Hundetraining</h2>
            <p>
                Egal ob Welpe oder ausgewachsener Hund, wir helfen ihnen dabei das Sie mit ihrem Liebling lange Freude haben werden.
                <br>
                In Städten wird es immer lauter und enger, nicht jeder Hund kann damit sofort umgehen und daher Bedarf es ein individuelles Training,
                um Ihren Hund so zu erziehen das er Ihnen auf's Wort gehorcht. Gleichzeitig ist es für uns auch wichtig das Ihr Hund fitt und Stubenrein ist.
                <br>
                Zum Start wird das Training Leckerlie basiert sein. D.h. gehorcht der hund auf das komando bekommt er eine kleine schmackhafte Belohnung.
                Diese Methode fördert das Einprägen von Wortkommandos und hilft dabei den Hund im ersten Schritt die Grundlagen beizubrigen. 
                <br>
                Wir haben daher ein kleinen Hundetrainings Parkour, in dem Sie mit Ihrem Tier trainieren können. 
                Das Training hält nicht nur Ihren Hund fitt nein es fördert auch die Beziehung zwischen Ihnen und Ihrem Hund.
                <br>
                Nicht jeder Hund ist gleich und die Persönlichkeit variiert ebenfalls sehr stark je nach Hunderasse. Aber jedes Tier hat seine Bedürfnisse
                und wir zeigen Ihnen woran Sie erkennen was Ihr Tier möchte, was es mag und was es nicht mag anhand der Körpersprache die es Ihnen dabei zeigt. 
            </p>
        </div>
        <div class="row">
            <div class="image  mr-auto ml-auto mt-5 mb-5">
                <img src="http://www.rmh-robbis-mensch-hundeberatung.de/s/cc_images/teaserbox_2455356516.jpg?t=1424510110">
            </div>
        </div>
        <div class="row text-center" id="human_dog">
            <h2 class="info-title  mr-auto ml-auto">Hund - Menschbeziehung</h2>
            <p>
                Hunde sind in der Regel sehr treue Begleiter. Sie sind sehr verspielt können aber auch erst sein wenn es die Situation erfordert.
                Je größer der Hund desto mehr Auslauf möchte er haben. So brauch ein Schäferhund zum Beispiel 3-5km Auslauf am Tag wo er sich komplett 
                austoben kann.
            </p>
        </div>
        <div class="row">
            <div class="image  mr-auto ml-auto mt-5 mb-5">
                <img src="http://ereignis.kaychen.de/tdot_10_j_hundeschule_wilke/index.php?fullimage=2017-0722_17_w.jpg&res=874;860">
            </div>
        </div>
        <div class="row text-center" id="human_dog">
            <h2 class="info-title  mr-auto ml-auto">Hund - Menschbeziehung</h2>
            <p>
                Hunde sind in der Regel sehr treue Begleiter. Sie sind sehr verspielt können aber auch erst sein wenn es die Situation erfordert.
                Je größer der Hund desto mehr Auslauf möchte er haben. So brauch ein Schäferhund zum Beispiel 3-5km Auslauf am Tag wo er sich komplett 
                austoben kann.
            </p>
        </div>
    </div>
</div>