<div class="row" id="service">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="row text-center" id="dog_training">
            <h2 class="info-title mr-auto ml-auto">Hundetraining</h2>
            <p class="description">
                Egal ob Welpe oder ausgewachsener Hund, wir helfen Ihnen dabei, lange Freude zusammen mit Ihrem Liebling zu haben.
                <br>
                In Städten wird es immer lauter und enger, nicht jeder Hund kann damit sofort umgehen und daher bedarf es ein individuelles Training,
                um Ihren Hund so zu erziehen, dass er Ihnen auf's Wort gehorcht. Gleichzeitig ist es für uns auch wichtig, dass Ihr Hund fit und stubenrein ist.
                <br>
                Zum Start wird das Training Leckerlie basiert sein. Gehorcht der Hund auf das Kommando, bekommt er eine kleine schmackhafte Belohnung.
                Diese Methode fördert das Einprägen von Wortkommandos und hilft dabei, dem Hund im ersten Schritt die Grundbefehle beizubrigen. 
                <br>
                Wir haben daher einen kleinen Hunde-Parkour, in dem Sie mit Ihrem Tier üben können. 
                Das Training hält nicht nur Ihren Hund fit, es fördert auch die Beziehung zwischen Ihnen und Ihrem Hund. 
            </p>
        </div>

        <div class="row">
            <div class="col-md-10 ml-auto mr-auto mt-5">
                <div class="card card-raised page-carousel">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="fröhlicher Hund">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>fröhlicher Hund</p>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <img class="d-block img-fluid" src="http://www.rmh-robbis-mensch-hundeberatung.de/s/cc_images/teaserbox_2455356516.jpg?t=1424510110" alt="Trainings Parkour">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Training Parkour</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="https://images.unsplash.com/photo-1505623776320-7edecf5f0771?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Wasserspaß">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Wasserspaß</p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                            <span class="sr-only">Vorheriges</span>
                        </a>
                        <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                            <span class="sr-only">Nächstes</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center" id="human_dog">
            <h2 class="info-title  mr-auto ml-auto">Hund - Menschbeziehung</h2>
            <p class="description">
                Hunde sind in der Regel sehr treue Begleiter. Sie sind sehr verspielt, können aber auch ernst sein, wenn es die Situation erfordert.
                Je größer der Hund desto mehr Auslauf möchte er haben. Auch tägliche Streicheleinheiten sind sehr wichtig und geben dem Hund das Gefühl, 
                dass er geschätzt wird.
                <br>
                So braucht ein Schäferhund zum Beispiel zwischen 3 und 5km Auslauf pro Tag, 
                bei denen er sich dann komplett austoben kann. Das hält ihn fit, gesund und bereitet auch Freude.
                <br>
                Doch nicht jeder Hund ist gleich und die Persönlichkeit variiert ebenfalls sehr stark je nach Hunderasse. Aber jedes Tier hat seine Bedürfnisse
                und wir zeigen Ihnen, woran Sie erkennen, was Ihr Tier möchte, was es mag und was nicht. 
                Einer der wichtigsten Indikatoren ist dabei die Körpersprache des Tieres.
            </p>
        </div>
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-blog card-plain text-center mt-5">
                    <div class="card-image">
                        <img class="img img-raised" src="http://hundetraining-dortmund.de/wp-content/uploads/2015/03/Hundetraining-in-der-Gruppe3.jpg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Hundetraining mit Besitzer</h3>
                        <div class="card-description">
                            <p>
                                Das Training sollte lehrreich sein, aber auch Spaß machen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center" id="dog_food">
            <h2 class="info-title  mr-auto ml-auto">Hundefutter</h2>
            <p class="description">
                Welches ist das Richtige für Ihren Liebling? <br><br>
                Die Auswahl an Hundefutter ist beeindruckend. Doch was ist für Ihren Hund die beste Wahl? 
                <br>
                Von Trockenfutter bis hin zum Frischgekochten ist mittlerweile alles erhältlich für Ihr Tier.
                <br>
                Doch was brauch er wirklich und von welchem Futter sollten Sie absehen. Wir helfen Ihnen gerne, einen ausgewogenen Ernährungsplan
                zusammen zustellen, damit Ihr Vierbeiner noch lange mit Ihnen leben und spielen kann.
                <br>
                Am Ende werden Sie wissen, was Ihr Liebling essen kann/darf und wie bzw. wo Sie es am einfachsten zu einem angemessenen Preis erhalten können.
            </p>
        </div>

        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-blog card-plain text-center mt-5">
                    <div class="card-image">
                        <img class="img img-raised" src="https://d1aev0esfa35jt.cloudfront.net/ci/hundefutter-5c2f874900ad6.jpg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Hundefutter - eine kleine Auswahl</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center" id="playtime">
            <h2 class="info-title mr-auto ml-auto">Gemeinsame Spielzeit</h2>
            <p class="description mr-auto ml-auto">
                Spielen und dabei lernen das ist das größte für Hund und Besitzer.
                <br>
                Stöckchen holen oder auch schwimmen lernen wird ihrem Hund viel Freude bereiten.
            </p>
        </div>

        <div class="row">
            <div class="col-md-10 ml-auto mr-auto mt-5">
                <div class="card card-raised page-carousel">
                    <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators1" data-slide-to="0" class=""></li>
                            <li data-target="#carouselExampleIndicators1" data-slide-to="1" class="active"></li>
                            <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="https://images.unsplash.com/photo-1501538383113-ff3d1c43ed54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Hund im Wasser">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Langsames Rantasten ans Wasser</p>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <img class="d-block img-fluid" src="https://images.unsplash.com/photo-1456143077270-30de0a1bf7bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80" alt="2 Hunde im Wasser mit Stöckchen">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Das Duell ums Stöckchen</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="https://images.unsplash.com/photo-1551205379-24fa06ec1928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80" alt="Hund mit Ast">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Guck mal, mein neuer Stock :)</p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                            <span class="sr-only">Vorheriges</span>
                        </a>
                        <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                            <span class="sr-only">Nächstes</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>